flows.json
[{"id":"e7298657.6de248","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d46007.6493fff8","type":"ui_form","z":"e7298657.6de248","name":"","label":"","group":"504b0ef3.a2d66","order":1,"width":0,"height":0,"options":[{"label":"enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":560,"wires":[["fd0fccaa.0de44"]]},{"id":"fd0fccaa.0de44","type":"function","z":"e7298657.6de248","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["e8a830fd.9ab27","52fa6334.4b168c"]]},{"id":"7eb8da71.6cc184","type":"function","z":"e7298657.6de248","name":"f2","func":"if(msg.payload.output.error){\n    msg.payload = \"please rephrase\";\n    return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["b5dea8b2.97e268"]]},{"id":"e8a830fd.9ab27","type":"watson-conversation-v1","z":"e7298657.6de248","name":"chatbot","workspaceid":"bb20c065-8cc3-4b10-8015-37c9e8f1ff74","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/16ff268d-86be-480f-a2fc-cacefe7ff8a0","timeout":"","optout-learning":false,"x":480,"y":320,"wires":[["7eb8da71.6cc184","c5e7243a.5841d8"]]},{"id":"b5dea8b2.97e268","type":"ui_text","z":"e7298657.6de248","group":"504b0ef3.a2d66","order":7,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"col-center","x":810,"y":380,"wires":[]},{"id":"52fa6334.4b168c","type":"ui_text","z":"e7298657.6de248","group":"504b0ef3.a2d66","order":2,"width":0,"height":0,"name":"","label":"your entry:","format":"{{msg.payload}}","layout":"col-center","x":620,"y":460,"wires":[]},{"id":"c5e7243a.5841d8","type":"debug","z":"e7298657.6de248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":260,"wires":[]},{"id":"504b0ef3.a2d66","type":"ui_group","z":"","name":"Default","tab":"ca7005ae.d63fa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca7005ae.d63fa8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]